<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    
    
  </head>

  <body>
    <div class="flex flex-col justify-center ">

      <div class="flex flex-col justify-center mt-6">

        <div class="flex justify-center font-bold font-mono text-2xl mb-2 " >
          Take-Note
        </div>
        
        <div>
          <form class="flex  g-3 note-form justify-center mb-8">
            <div class="flex-col justify-center">
              <div class="flex col-auto">
                <input
                  type="text"
                  class="flex rounded form-control input bg-blue-100 p-4 pl-8 pr-8   mb-2 "
                  id="inputPassword2"
                  placeholder="Enter some text here"
                />
              </div>
  
              <div class="flex rounded p-0 text-white  col-auto bg-red-600 hover:bg-red-700  cursor-pointer	">
                <button
                  type="submit"
                  class="flex ml-14 font-bold text-2xl btn btn-primary mb-3 submit "
                >
                  SUBMIT
                </button>
              </div>
            </div>

          </form>
        </div>

        <div
          class="flex justify-center font-bold text-2xl underline decoration-pink-500 uppercase"
        >
          Notes
        </div>

        <div class="flex flex-col notes-list justify-center mt-4 border-t-4 border-indigo-500"></div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------------------------------------------------------- -->

    <script src="index.js"></script>

    <!-- socket.io CDN-->
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
      crossorigin="anonymous"
    ></script>

    <!-- Socketio Connection -->
    <script>
      let innerElement = document.getElementsByClassName("inner-element")[0];
      let NotesList = document.getElementsByClassName("notes-list")[0];
      let socket = io.connect("http://localhost:8080");
      socket.on("connect_error", (err) => {});

      // on connect
      socket.on("connect", () => {
        console.log("connected with socket ", socket.id);
      });

      // add new element to submit list


      function addNewElement(text) {
        let newElement = document.createElement("li");
        newElement.classList.add("list-decimal");
        newElement.classList.add("ml-80");
        newElement.classList.add("font-mono");
        newElement.classList.add("underline");
        newElement.classList.add("decoration-indigo-500");
        newElement.innerHTML = text + "<br>";
        NotesList.appendChild(newElement);
      }

      socket.on("updateNotes", (data) => {
        let Data = JSON.parse(data);
        console.log("Data " , Data)
        addNewElement(Data.text);
      });
      let count = "<%-count%>";
      let data1 = '<%-data%>';
     

      window.addEventListener("load", () => {
        let parsedData = JSON.parse(data1);
        console.log(parsedData)
        let innerElementData = [];

        for (let i = 0; i < parsedData.length; i++) {
          addNewElement(parsedData[i].text);
        }

        console.log(NotesList);
      });

      //
    </script>
  </body>
</html>
