<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div>
      <div >
        <form class="row g-3 note-form">
          <div class="col-auto">
            <input
              type="text"
              class="form-control input"
              id="inputPassword2"
              placeholder="Enter something.."
            />
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3 submit">
              SUBMIT
            </button>
          </div>
        </form>
      </div>
      <div class="notes-list">
        <span class="inner-element"></span>
          <!-- <button class="submit">Submit</button> -->
          <!-- <a href="http://localhost:8080/fetchAllTasks">Goto Notes</a> -->
      </div>
    </div>

    <!-- ----------------------------------------------------------------------------------------------------------------------- -->

    <script src="index.js"></script>

    <!-- socket.io CDN-->
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
      crossorigin="anonymous"
    ></script>

    <!-- Socketio Connection -->
    <script>

      let innerElement = document.getElementsByClassName('inner-element')[0];
      let NotesList = document.getElementsByClassName('notes-list')[0];
      let socket = io.connect("http://localhost:8080");
      socket.on("connect_error", (err) => {});

      // on connect
      socket.on("connect", () => {
        console.log("connected with socket ", socket.id);
      });

  //       socket.on("start",  (data)=>{
  //         let Data = JSON.parse(data)

  // for(let i = 0 ; i < Data.length ; i++){
  //   console.log(Data[i])
  //   let newElement = document.createElement('div')
  //   newElement.innerHTML = Data[i].text
    
  //   document.getElementsByClassName('inner-element')[0].appendChild(newElement)
  // }         
  //       })

      socket.on("updateNotes" , (data)=>{
        console.log(data)
        let Data = JSON.parse(data)
        console.log(Data)
          let newElement = document.createElement('div')
          newElement.innerHTML = Data.text
          
          document.getElementsByClassName('inner-element')[0].appendChild(newElement)
      })


    </script>
  </body>
</html>
